<div class="container">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <app-menu
          *ngFor="let menuItem of menuItems"
          [item]="menuItem"
        ></app-menu>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <app-menu
      *ngFor="let menuItem of menuItems"
      [item]="menuItem"
    ></app-menu>
  </ul>

  <form action="#">
    <app-nodes
      *ngFor="let node of nodes"
      [node]="node"
    >

    </app-nodes>
  </form>

  <h1>
    Welcome to {{ title }}!
  </h1>

  <!-- Dropdown Trigger -->
  <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>

  <ul id='dropdown1' class='dropdown-content'>
    <app-menu-sorting
      *ngFor="let sortingType of menuSortingTypes"
      [sortingType]="sortingType"
    ></app-menu-sorting>
  </ul>
</div>

